body {
	height: 100vh;
	background: #c5deea; /* Old browsers */
	background: -webkit-linear-gradient(bottom left, #c5deea 0%, #8abbd7 31%, #066dab 100%);
	background: -o-linear-gradient(bottom left, #c5deea 0%, #8abbd7 31%, #066dab 100%);
	background: linear-gradient(to top right, #c5deea 0%, #8abbd7 31%, #066dab 100%); /*	 FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}			

h1 {
	text-align: center;
}

.container {
	margin-top: 30px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.chat-area {
	width: 500px;
	float: left;
	height: 400px;
	background-color: #FFEFD5;
	border: 1px solid black;
	overflow: hidden;
}

.chat-list {
	overflow: scroll;
	width: 100%;
	height: 100%;
	padding-right: 17px;
}

.chat-form {
	clear: both;
	margin-top: 25px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

li {
	list-style: none;
}

.chat-msg,
.msg-text {
	float: left;
	clear: right;
	font-size: 20px;
	width: 75%;
	border: 1px solid black;
	border-radius: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #0066ff;
}

.chat-meta {
	display: block;
	margin-left: 10px;	
}

.user-name {
	font-size: 24px;
	margin-left: 10px;	
}

.delete-msg {
	cursor: default;
}

.chat-msg.own-msg,
.chat-msg.own-msg .msg-text {
	margin-right: 58px;
	float: right;
	clear: left;
	background-color: #00ff33;
}

textarea.msg-text {
	width: 80%;
	margin-left: 5%;
	margin-bottom: 2%;
}

.msg-text {
	border: none;
}

textarea {
    resize: none;
}

.online-users {
	width: 25%;
	float: right;
}

.user-text {
	border: none;
	background-color: #FFEFD5;
	padding-left: 5px;
	padding-top: 5px;
}

